<a href="{{ git }}/application" style="font-weight: bold;" target="_blank">[[GitHub]]</a>
| <a href="@{basePath}">[[Stempler Version]]</a>
| <a href="@{basePath}exception.html">[[Exception]]</a>
| <a href="http://spiral-framework.com" target="_blank">[[Framework Website]]</a>