# IDEA
.idea/
*.iml

# Composer
composer.phar

vendor/
bin/build/vendor/

composer.lock
bin/build/composer.lock

# OS
.DS_Store
Thumbs.db

# Other
.phpunit.result.cache
.php_cs.cache
clover.xml
.env
builds
