<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         failOnRisky="false"
         stopOnFailure="false"
         stopOnError="false"
         stderr="true">
    <coverage>
        <include>
            <directory>src</directory>
            <directory>src/*/src</directory>
        </include>
        <exclude>
            <directory>src/*/tests</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Components Test Suite">
            <directory>src/*/tests</directory>
            <directory suffix="TestCase.php">src/*/tests</directory>
        </testsuite>
        <testsuite name="Framework Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
