<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="@{basePath}resources/styles/spiral/spiral.css"/>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>